      <div class="row">
    <div class="col-md-12">
        <h1>{{title}}<h1>
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
        <table class="table ">
            <thead>
            <tr>
                <th>Department Number</th>
                <th>Department Name</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="/employees?department=1">1</a></td>
                    <td><a href="/employees?department=1">Creative Services</a></td>
                </tr>
                <tr>
                    <td><a href="/employees?department=2">2</a></td>
                    <td><a href="/employees?department=2">Product Development</a></td>
                </tr>
                <tr>
                    <td><a href="/employees?department=3">3</a></td>
                    <td><a href="/employees?department=3">Marketing</a></td>
                </tr>
                <tr>
                    <td><a href="/employees?department=4">4</a></td>
                    <td><a href="/employees?department=4">Strategic Planning</a></td>
                </tr>
                <tr>
                    <td><a href="/employees?department=5">5</a></td>
                    <td><a href="/employees?department=5">Accounting</a></td>
                </tr>
                <tr>
                    <td><a href="/employees?department=6">6</a></td>
                    <td><a href="/employees?department=6">Human Resources</a></td>
                </tr>
                <tr>
                    <td><a href="/employees?department=7">7</a></td>
                    <td><a href="/employees?department=7">Quality Analysis</a></td>
                </tr>
            </tbody>
        </table>
        </div>
        
    </div>
</div>
	
