<!doctype html>
<html>

<head>
	<title>Web322 App</title>



	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" />
	<link href="https://fonts.googleapis.com/css?family=Raleway:700" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/site.css" />

	<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
	 crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
	 crossorigin="anonymous"></script>

</head>

<body>


	<header>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>WEB 322 App</h1>
					{{#if user.username}}
                    <span class="pull-right"><a href="/logout" class="btn btn-primary">&nbsp;&nbsp;&nbsp;Log Out:&nbsp;{{user.username}}&nbsp;&nbsp;&nbsp;</a></span>
                    {{else}}
                    <span class="pull-right"><a class="btn btn-success" href="/login">&nbsp;&nbsp;&nbsp;Login&nbsp;&nbsp;&nbsp;</a>
                    <a class="btn btn-primary" href="/register">&nbsp;&nbsp;&nbsp;Register&nbsp;&nbsp;&nbsp;</a></span>
                    {{/if}}
				</div>
			</div>
		</div>
	</header>
	<nav>
		<div class="container">
			<ul class="pull-left">
				<li>
					<a href="/"> Home </a>
				</li>
				<li>
					<a href="/about"> About </a>
				</li>
			</ul>

			 {{#if user.username}}
                    <ul class = "pull-right">
                        <li><a href = "/employees">&nbsp;All&nbsp;Employees&nbsp;</a></li>
                        <li><a href = "/managers">&nbsp;Managers&nbsp;</a></li>
                        <li><a href = "/departments">&nbsp;Departments&nbsp;</a></li>
                    </ul>
                    {{/if}}


		</div>
	</nav>
	<div class="container">
		{{{body}}}
	</div>
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2>© 2017 - Sahul Narang (136560166) </h2>
				</div>
			</div>
		</div>
	</footer>


</body>

</html>